/* You CSS goes in here */
.body {
  background-color: #9dffef31;
}

#aim_box {
  text-align: center;
  background-color: #9dffee;
  padding: 1rem;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  margin: 0.2rem;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#instruction_box {
  margin: 0.5rem;
  border: 2px solid #007663;
  border-radius: 4px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
#simulator_box_1 {
  height: 33rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #121212;
  /* display: flex;
    flex-direction: column; */
}
#start_button {
  display: flex;
  justify-content: center;
}
.power-button {
  /* position: relative; */
  width: 80px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 20px;
  cursor: pointer;
}

.power-button .switch {
  width: 40px;
  height: 40px;
  background-color: #cb0000;
  border-radius: 50%;
  transition: transform 0.3s;
}

.power-button.on .switch {
  transform: translateX(40px);
  background-color: #05a000;
}
#materials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.range_container {
  display: flex;
}
#vacuum_range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}
#vacuum {
  margin: 0 auto 0 auto;
  width: 80%;
}
#voltage_range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 2rem 0 2rem;
}
#voltage {
  margin: 0 auto 0 auto;
  width: 80%;
}
#last_buttons {
  margin: auto;
}
#simulator_box_2 {
  height: 33rem;
  width: 40%;
  background-image: url("../images/befunky_2023-7-4_13-54-27.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 17rem;
}
#simulator_box_3 {
  height: 33rem;
  width: 30%;
  /* display: flex;
    flex-direction: column; */
}
#part1 {
  position: relative;
  top: 6.9rem;
  left: 1.35rem;
  width: 7rem;
  height: 2.5rem;
}
#part2 {
  position: relative;
  top: 6rem;
  left: 1rem;
}
#part3 {
  position: relative;
  top: 4.7rem;
  left: 0.9rem;
  width: 5rem;
}
#part4 {
  position: relative;
  left: 0.8rem;
  top: 2.5rem;
  width: 5rem;
}
#part5 {
  position: relative;
  left: 1rem;
  top: 2.5rem;
  width: 8rem;
}
#part6 {
  position: relative;
  left: 1rem;
  width: 5rem;
  bottom: 0.2rem;
}
#part7 {
  position: relative;
  left: 1rem;
  width: 5rem;
  bottom: 3.2rem;
}
#part8 {
  position: relative;
  left: 1.1rem;
  width: 5rem;
  bottom: 4.6rem;
}
#part9 {
  position: relative;
  bottom: 5.7rem;
  width: 5rem;
  left: 1.1rem;
}
#part10 {
  position: relative;
  bottom: 7.5rem;
  width: 7rem;
  height: 3rem;
  left: 1.1rem;
}
@media screen and (max-width: 900px) {
  #simulator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #simulator_box_1 {
    width: 100%;
  }
  #simulator_box_2 {
    width: 100%;
  }
  #simulator_box_3 {
    width: 100%;
  }
  #instruction_box {
    flex-direction: column;
  }
  #instruction_tag {
    width: 6rem;
  }
}
@media screen and (min-width: 900px) {
  #simulator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.part {
  width: 4.4rem;
  transition: transform 0.2s;
  position: relative;
  /* left: 0.4rem; */
}
.part:hover {
  transform: scale(1.5);
}
#part1_text {
  visibility: hidden;
  color: red;
  bottom: 27rem;
  left: 70%;
  position: absolute;
}
#part1:hover + #part1_text {
  visibility: visible;
}
#part2_text {
  visibility: hidden;
  color: red;
  bottom: 24rem;
  left: 70%;
  position: absolute;
}

#part2:hover + #part2_text {
  visibility: visible;
}
#part3_text {
  visibility: hidden;
  color: red;
  bottom: 21rem;
  left: 70%;
  position: absolute;
}

#part3:hover + #part3_text {
  visibility: visible;
}
#part4_text {
  visibility: hidden;
  color: red;
  bottom: 20rem;
  /* left: 10%; */
  position: absolute;
}

#part4:hover + #part4_text {
  visibility: visible;
}
#part5_text {
  visibility: hidden;
  color: red;
  bottom: 15rem;
  left: 70%;
  position: absolute;
}

#part5:hover + #part5_text {
  visibility: visible;
}
#part6_text {
  visibility: hidden;
  color: red;
  bottom: 12rem;
  /* left: 20%; */
  position: absolute;
}

#part6:hover + #part6_text {
  visibility: visible;
}
#part7_text {
  visibility: hidden;
  color: red;
  bottom: 12rem;
  left: 70%;
  position: absolute;
}

#part7:hover + #part7_text {
  visibility: visible;
}
#part8_text {
  visibility: hidden;
  color: red;
  top: 20rem;
  left: 70%;
  position: absolute;
}
#part8:hover + #part8_text {
  visibility: visible;
}
#part9_text {
  visibility: hidden;
  color: red;
  top: 22rem;
  /* left: 20%; */
  position: absolute;
}
#part9:hover + #part9_text {
  visibility: visible;
}
#part10_text {
  visibility: hidden;
  color: red;
  top: 23rem;
  left: 70%;
  position: absolute;
}

#part10:hover + #part10_text {
  visibility: visible;
}

.part_text {
  font-size: small;
  font-weight: bold;
  font-style: italic;
}

#simulator_box_3 {
  background-color: #9dffef64;
}
